{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    "transform-class-properties",
    [
      "module-resolver",
      {
        "alias": {
          "@/*": "./src",
          "@C/*": "./src/components",
          "@COMMON/*": "./src/components/common",
          "@STYLE/*": "./css/"
        }
      }
    ],
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
