# Dependency directories
node_modules/

# Build directories
build/
dev-build/
prod

# MacOS finder env file
.DS_Store

# Capture directories

capture/
captureFullscreen/
cropCapture/
cropCaptureCombine/